## Imports

In [1]:
%%capture
import warnings
import math
import db_func
import pandas as pd
import numpy as np
from bokeh.plotting import figure, show
from bokeh.io import output_notebook, push_notebook, show
import matplotlib.pyplot as plt
from datetime import date, datetime, timedelta
from tqdm.notebook import tqdm
import re
from collections import defaultdict, ChainMap
import multiprocessing
from functools import partial
import numpy as np
from itertools import repeat


warnings.filterwarnings('ignore')

try:
    %load_ext autotime
    %load_ext jupyterlab_notify
except:
    !pip3 install ipython-autotime
    %load_ext autotime

time: 893 ms (started: 2023-03-03 19:50:44 -05:00)

In [2]:
match_df = pd.read_csv('save_matchdf.csv')
pp_df = pd.read_csv('save_ppdf.csv')
#pd.set_option('max_columns', 2)
pd.set_option('min_rows', 20)

time: 66.1 ms (started: 2023-03-03 19:50:45 -05:00)

In [23]:
#pd.set_option('max_columns', 2)
pd.set_option('min_rows', 20)

time: 487 µs (started: 2023-03-03 20:00:38 -05:00)

In [ ]:
## Database Connection

In [ ]:
conn = db_func.get_conn()

# Preprocessing

match_df: The final processed dataset to be used in the machine learning models

In [ ]:
match_query = '''SELECT
				m.match_id,  m.away_id, m.home_id,
				m.date, m.away_pts, m.home_pts, m.playoff_game,
				h_ml.home_ml, a_ml.away_ml,
				h_ps.home_spread, a_ps.away_spread,
				h_ps.home_ps_odds, a_ps.away_ps_odds,
				over.over, under.under, ou.spread
			FROM match AS m
			LEFT OUTER JOIN
			(
				SELECT
					AVG(decimal_odds) AS home_ml,
					m.match_id AS match_id
				FROM
					odds AS o, team AS t1, team as t2,
					match AS m
				WHERE
					o.bet_type_id = 1 AND
					o.match_id = m.match_id AND
					o.team_id = m.home_id
				GROUP BY m.match_id
			) AS h_ml ON m.match_id = h_ml.match_id
			LEFT OUTER JOIN
			(
				SELECT
					AVG(decimal_odds) AS away_ml,
					m.match_id AS match_id
				FROM
					odds AS o, team AS t1, team as t2,
					match AS m
				WHERE
					o.bet_type_id = 1 AND
					o.match_id = m.match_id AND
					o.team_id = m.away_id
				GROUP BY m.match_id
			) AS a_ml ON m.match_id = a_ml.match_id
			LEFT OUTER JOIN
			(
				SELECT
					AVG(decimal_odds) AS home_ps_odds,
					AVG(spread) AS home_spread,
					m.match_id AS match_id
				FROM
					odds AS o, team AS t1, team as t2,
					match AS m
				WHERE
					o.bet_type_id = 2 AND
					o.match_id = m.match_id AND
					o.team_id = m.home_id
				GROUP BY m.match_id
			) AS h_ps ON m.match_id = h_ps.match_id
			LEFT OUTER JOIN
			(
				SELECT
					AVG(decimal_odds) AS away_ps_odds,
					AVG(spread) AS away_spread,
					m.match_id AS match_id
				FROM
					odds AS o, team AS t1, team as t2,
					match AS m
				WHERE
					o.bet_type_id = 2 AND
					o.match_id = m.match_id AND
					o.team_id = m.away_id
				GROUP BY m.match_id
			) AS a_ps ON m.match_id = a_ps.match_id
			LEFT OUTER JOIN
			(
				SELECT
					AVG(decimal_odds) AS under,
					m.match_id AS match_id
				FROM
					odds AS o, match AS m
				WHERE
					o.bet_type_id = 3 AND
					o.over_under = 'under' AND
					o.match_id = m.match_id
				GROUP BY m.match_id
			) AS under ON m.match_id = under.match_id
			LEFT OUTER JOIN
			(
				SELECT
					AVG(decimal_odds) AS over,
					m.match_id AS match_id
				FROM
					odds AS o, match AS m
				WHERE
					o.bet_type_id = 3 AND
					o.over_under = 'over' AND
					o.match_id = m.match_id
				GROUP BY m.match_id
			) AS over ON m.match_id = over.match_id
			LEFT OUTER JOIN
			(
				SELECT
					AVG(spread) AS spread,
					m.match_id AS match_id
				FROM
					odds AS o, match AS m
				WHERE
					o.bet_type_id = 3 AND
					o.match_id = m.match_id
				GROUP BY m.match_id
			) AS ou ON m.match_id = ou.match_id
			WHERE date >= DATE('2021-10-29')
			ORDER BY date ASC
			'''

season_query = '''SELECT *
				FROM season'''

player_performance_query = '''SELECT p.*, m.date
							FROM player_performance as p, match as m
							WHERE m.match_id = p.match_id
							AND m.date >= DATE('2021-10-29')
							ORDER BY date ASC'''
team_query = '''SELECT * 
				FROM team_name'''

injury_query = '''SELECT i.* 
				FROM injury as i, match as m
				WHERE m.match_id = i.match_id
				AND m.date >= DATE('2021-10-29')
				ORDER BY m.date ASC'''

match_df = pd.read_sql(match_query, conn)
#match_df.set_index('match_id', inplace=True)
season_df = pd.read_sql(season_query, conn)
pp_df = pd.read_sql(player_performance_query, conn)
team_df = pd.read_sql(team_query, conn)
injury_df = pd.read_sql(injury_query, conn)
match_df['date'] = match_df['date'].map(lambda x: datetime(x.year, x.month, x.day))
pp_df['date'] = pp_df['date'].map(lambda x: datetime(x.year, x.month, x.day))
season_df['start_date'] =season_df['start_date'].map(lambda x: datetime(x.year, x.month, x.day))
season_df['end_date'] = season_df['end_date'].map(lambda x: datetime(x.year, x.month, x.day))

In [ ]:
def get_season(date):
    return season_df[(season_df['start_date'] <= date) &
                     (season_df['end_date'] >= date)]['season'].values[0]

In [ ]:
match_df['season'] = match_df['date'].map(get_season)
pp_df['season'] = pp_df['date'].map(get_season)

# Feature Engineering

## Basic stats with respect to the favorite (determined by bookies)

In [ ]:
favorite_df = defaultdict(list)
p = re.compile('prev.*ema')
match_df['home_movl'] = match_df['home_pts'] - match_df['away_pts']
match_df['home_win'] = match_df['home_movl'].map(lambda x: 0 if x < 0 else 1)
for idx, row in tqdm(match_df.iterrows(), total=match_df.shape[0]):    
    favorite_won = False
    if row['home_ml'] < row['away_ml']:
        favorite_df['favorite_ml'].append(row['home_ml'])
        favorite_df['underdog_ml'].append(row['away_ml'])
        favorite_df['favorite_is_home'].append(1)
        favorite_df['favorite_movl'].append(row['home_pts']-row['away_pts'])
        favorite_df['point_spread'].append(abs(row['home_spread']))

        if row['home_win']:
            favorite_won = True
    else:
        if not row['home_win']:
            favorite_won = True
        favorite_df['favorite_ml'].append(row['away_ml'])
        favorite_df['underdog_ml'].append(row['home_ml'])
        favorite_df['favorite_is_home'].append(0)
        favorite_df['favorite_movl'].append(row['away_pts']-row['home_pts'])
        favorite_df['point_spread'].append(abs(row['away_spread']))

    favorite_df['favorite_won'].append(1 if favorite_won else 0)

favorite_df = pd.DataFrame(favorite_df)
favorite_df['vig'] = 1/favorite_df['favorite_ml'] + 1/favorite_df['underdog_ml'] - 1
favorite_df['favorite_implied'] = 1/favorite_df['favorite_ml'] - favorite_df['vig']/2
favorite_df['underdog_implied'] = 1/favorite_df['underdog_ml'] - favorite_df['vig']/2

match_df = pd.concat([match_df.reset_index(drop=True),
                      favorite_df.reset_index(drop=True)],axis=1)
match_df['favorite_id'] = match_df.apply(lambda x: x['home_id'] if x['favorite_is_home'] else x['away_id'],axis=1)
match_df['underdog_id'] = match_df.apply(lambda x: x['home_id'] if not x['favorite_is_home'] else x['away_id'],axis=1)

print(match_df[['favorite_ml', 'home_ml', 'away_ml']][match_df.home_ml > match_df.away_ml])

In [ ]:
def get_prev_matches(date, team_id, match_df, opponent_id = 0):
    if opponent_id:
        return match_df[(match_df["date"] < date) &
                        (((match_df["favorite_id"] == team_id) & 
                          (match_df["underdog_id"] == opponent_id)) |
                         ((match_df["favorite_id"] == opponent_id) & 
                          (match_df["underdog_id"] == team_id)))]
    else:
        return match_df[(match_df["date"] < date) &
                    ((match_df["favorite_id"] == team_id) |
                     (match_df["underdog_id"] == team_id))]

In [ ]:
match_df.favorite_id.describe()

In [ ]:
get_prev_matches('2022-06-16', 2,match_df)

In [ ]:
def get_win_streak(team_id, prev_matches,i):

In [ ]:
def get_win_ratio(team_id, prev_matches, i):
    if len(prev_matches) < i: 
        return None
    prev_matches['res'] =  prev_matches.apply(lambda x:
                             1 if (x['favorite_id'] == team_id and x['favorite_won']) or 
                                      (x['underdog_id'] == team_id and not x['favorite_won'])        
                             else 0, axis=1)
    return prev_matches['res'].sum()/i

In [ ]:
window_sizes = [5,7]

for w in tqdm(window_sizes):
    match_df[f'past_{w}_favorite_win_ratio'] = match_df.apply(lambda x: 
                                    get_win_ratio(x['favorite_id'], 
                                        get_prev_matches(x['date'], 
                                                         x['favorite_id'],
                                                         match_df
                                                        ).tail(w),
                                                    w), axis=1)
    match_df[f'past_{w}_underdog_win_ratio'] = match_df.apply(lambda x: 
                                    get_win_ratio(x['underdog_id'], 
                                        get_prev_matches(x['date'], 
                                                         x['underdog_id'],
                                                         match_df
                                                        ).tail(w),
                                                    w), axis=1)

# Player Factors

In [ ]:
def get_prev_player_match(date, player_id, pp_df):
    return pp_df[(pp_df['date'] < date) & 
                (pp_df['player_id'] == player_id)].tail(1)
def get_active_players(match_id, team_id, pp_df):
    return  pp_df[(pp_df['match_id'] == match_id) &
                      (pp_df['team_id'] == team_id) &
                  (pp_df['sp']>0)]

def get_complete_roster(match_id, team_id, match_df):
    return  pp_df[(pp_df['match_id'] == match_id) &
                      (pp_df['team_id'] == team_id)]

In [36]:
pp_df

,Unnamed: 0,player_id,match_id,team_id,sp,inactive,ts_pct,efg_pct,threepar,ftr,...,trb,ast,stl,blk,tov,pf,pts,pm,date,season
0,0,966,18833,22,449.0,0.0,0.000,0.000,0.000,0.000,...,0.0,1.0,0.0,1.0,1.0,2.0,0.0,-10.0,2021-10-29,2022
1,1,102,18833,28,2207.0,0.0,0.706,0.679,0.143,0.143,...,9.0,1.0,2.0,1.0,1.0,1.0,21.0,-13.0,2021-10-29,2022
2,2,145,18833,28,1394.0,0.0,0.577,0.333,0.333,1.667,...,6.0,3.0,1.0,0.0,1.0,3.0,6.0,15.0,2021-10-29,2022
3,3,171,18833,28,0.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-10-29,2022
4,4,180,18833,28,1059.0,0.0,0.666,0.700,0.400,0.800,...,4.0,0.0,2.0,0.0,0.0,1.0,9.0,18.0,2021-10-29,2022
5,5,193,18833,22,0.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-10-29,2022
6,6,272,18833,22,2004.0,0.0,0.683,0.708,0.333,0.083,...,12.0,3.0,0.0,0.0,2.0,4.0,17.0,12.0,2021-10-29,2022
7,7,282,18833,28,0.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-10-29,2022
8,8,384,18833,28,0.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-10-29,2022
9,9,426,18833,28,0.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-10-29,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40236,40236,942,1260,10,0.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-16,2022
40237,40237,909,1260,10,0.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-16,2022
40238,40238,901,1260,2,63.0,0.0,0.000,0.000,0.000,0.000,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,-2.0,2022-06-16,2022
40239,40239,751,1260,10,61.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-16,2022
40240,40240,718,1260,2,2353.0,0.0,1.019,1.000,0.625,0.375,...,14.0,2.0,2.0,1.0,3.0,1.0,19.0,2.0,2022-06-16,2022
40241,40241,663,1260,2,63.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2.0,2022-06-16,2022
40242,40242,591,1260,10,2509.0,0.0,0.600,0.600,0.500,0.000,...,12.0,8.0,2.0,2.0,5.0,1.0,12.0,16.0,2022-06-16,2022
40243,40243,496,1260,2,0.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-16,2022
40244,40244,149,1260,10,0.0,0.0,0.000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-06-16,2022
40245,40245,220,1260,2,2640.0,0.0,0.663,0.630,0.478,0.261,...,7.0,3.0,1.0,0.0,5.0,2.0,34.0,1.0,2022-06-16,2022

time: 20.8 ms (started: 2023-03-03 20:11:57 -05:00)

## Define Stats per minute played

In [37]:
pm_stats = ['pts', 'orb', 'drb', 'trb', 'ast', 'stl', 'blk','tov', 'pf']

for f in pm_stats:
    pp_df[] = pp_df.apply(lambda x: x[f]*60/x['sp'] if x['sp']>0 else 0, axis=1)

avg_stats = [f'{f}_avg' for f in pm_stats]

time: 2.41 s (started: 2023-03-03 20:12:26 -05:00)

In [39]:
pp_df[['pts', 'pts_avg', 'sp']]

        pts   pts_avg      sp
0       0.0  0.000000   449.0
1      21.0  0.570911  2207.0
2       6.0  0.258250  1394.0
3       0.0  0.000000     0.0
4       9.0  0.509915  1059.0
5       0.0  0.000000     0.0
6      17.0  0.508982  2004.0
7       0.0  0.000000     0.0
8       0.0  0.000000     0.0
9       0.0  0.000000     0.0
...     ...       ...     ...
40236   0.0  0.000000     0.0
40237   0.0  0.000000     0.0
40238   0.0  0.000000    63.0
40239   0.0  0.000000    61.0
40240  19.0  0.484488  2353.0
40241   0.0  0.000000    63.0
40242  12.0  0.286967  2509.0
40243   0.0  0.000000     0.0
40244   0.0  0.000000     0.0
40245  34.0  0.772727  2640.0

[40246 rows x 3 columns]

time: 5.17 ms (started: 2023-03-03 20:13:06 -05:00)

## EWM Player Stats

In [32]:
def get_player_dict(gb):
    window_sizes = [10,20,40]
    window_sizes = [10]
    #gb = pp_df.groupby(['player_id'], group_keys=True)
    player_dict = dict(tuple(gb))
    
    features = ['ts_pct',
       'efg_pct', 'threepar', 'ftr', 'orb_pct', 'drb_pct', 'trb_pct',
       'ast_pct', 'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'ortg', 'drtg',
       'fg', 'fga', 'fg_pct', 'threep', 'threepa',
       'threep_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl',
       'blk', 'tov', 'pf', 'pts'] + avg_stats
    d = defaultdict()
    for w in window_sizes:
        ewm_features = [f'{f}_ewm_{w}' for f in features]
        for p in player_dict:
            # set the index to date for use in finding variable length windows later
            player_dict[p].index = player_dict[p]['date']
            #player_dict[p][ewm_features]= player_dict[p][features].ewm(span=w,min_periods=0,adjust=False,ignore_na=False).mean().shift(+1)
            tmp_df= player_dict[p][player_dict[p].sp > 0]
            tmp_df[ewm_features] = tmp_df[features].ewm(span=w,min_periods=0,adjust=False,ignore_na=False).mean().shift(+1)
            player_dict[p] = player_dict[p].merge(tmp_df[ewm_features+['match_id']], on='match_id', how='outer')
            player_dict[p].fillna(method='ffill', inplace=True)
    return player_dict

time: 1.25 ms (started: 2023-03-03 20:02:33 -05:00)

In [33]:
def parallelize_gb(df, func):
    num_cores = multiprocessing.cpu_count()-2  #leave one free to not freeze machine
    num_partitions = num_cores #number of partitions to split dataframe
    gb = pp_df.groupby(['player_id'], group_keys=True)
    df_split = np.array_split(gb, num_partitions)
    pool = multiprocessing.Pool(num_cores)
    list_dict = pool.map(func, df_split)
    res = dict(ChainMap(*list_dict))
    pool.close()
    pool.join()
    return res


player_dict = parallelize_gb(pp_df.tail(100), get_player_dict)
player_dict[149][['pts_ewm_10','pts', 'player_id', 'date', 'sp']]

    pts_ewm_10   pts  player_id        date      sp
0          NaN   6.0        149  2021-10-30  1217.0
1     6.000000   8.0        149  2021-11-03   753.0
2     6.363636  13.0        149  2021-11-05  1062.0
3     7.570248   9.0        149  2021-11-07   852.0
4     7.830203   7.0        149  2021-11-08   786.0
5     7.679257   9.0        149  2021-11-10  1143.0
6     7.919392   6.0        149  2021-11-12   933.0
7     7.570412   2.0        149  2021-11-14   625.0
8     6.557610   0.0        149  2021-11-16   692.0
9     5.365317  14.0        149  2021-11-18  1407.0
..         ...   ...        ...         ...     ...
89    4.491533   0.0        149  2022-05-20     0.0
90    4.491533   0.0        149  2022-05-22     0.0
91    4.220345   4.0        149  2022-05-24   890.0
92    4.180282   5.0        149  2022-05-26  1301.0
93    4.329322   3.0        149  2022-06-02    48.0
94    4.087627   6.0        149  2022-06-05   636.0
95    4.435331   0.0        149  2022-06-08   207.0
96    3.628907   0.0        149  2022-06-10   540.0
97    2.969106   0.0        149  2022-06-13   283.0
98    2.969106   0.0        149  2022-06-16     0.0

[99 rows x 5 columns]

time: 1.2 s (started: 2023-03-03 20:02:35 -05:00)

## Player Fatigue

Seconds played over the last 2 weeks

In [ ]:
#player_dict[3] = player_dict[3].set_index(['date'])

def get_player_fatigue(x,w):
    window = player_dict[3].loc[x.date - timedelta(days=w):x.date - timedelta(days=1)]
    ewm_sp = np.nan
    if len(window):
        window['ewm_sp'] = window['sp'].ewm(span=7,min_periods=0,adjust=False,ignore_na=False).mean()
        ewm_sp = window.iloc[-1]['ewm_sp']
    return ewm_sp

window_sizes = [14]

for w in tqdm(window_sizes):
    for p in tqdm(player_dict):
        player_dict[p][f'sp_ewm_{w}'] = player_dict[3].apply(lambda x: get_player_fatigue(x,w+1), axis=1)

player_dict[3]['sp_ewm_14']

In [ ]:
player_dict[3]

In [ ]:
# temporary save spot
match_df.to_csv('save_matchdf.csv')
pp_df.to_csv('save_ppdf.csv')

In [ ]:
match_df = pd.read_csv('save_matchdf.csv')
pp_df = pd.read_csv('save_ppdf.csv')

## Insert player factors into match dataframe

Most NBA teams rotate at least 8 players. 
We will use the top 8 players in terms of time played as features

In [ ]:
def insert_player_features(match_df, player_dict, pp_df):
    window_sizes = [10,20,40]
    d = defaultdict(list)
    player_features = ['ts_pct',
       'efg_pct', 'threepar', 'ftr', 'orb_pct', 'drb_pct', 'trb_pct',
       'ast_pct', 'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'ortg', 'drtg',
       'fg', 'fga', 'fg_pct', 'threep', 'threepa',
       'threep_pct', 'ft', 'fta', 'ft_pct', 'orb', 'drb', 'trb', 'ast', 'stl',
       'blk', 'tov', 'pf', 'pts'] + avg_stats
    player_features = ['pts']
    n_features = len(player_features)
    for idx, row in match_df.iterrows():
        match_id = row['match_id']
        favorite_players = get_active_players(row['match_id'], row['favorite_id'], pp_df).sort_values(by=['sp'], ascending=False).head(8)
        underdog_players = get_active_players(row['match_id'], row['underdog_id'], pp_df).sort_values(by=['sp'], ascending=False).head(8)
        for w in window_sizes:
            for i in range(8):
                ewm_features = [f'{f}_ewm_{w}' for f in player_features]

                fav_player_ewm_features = [f'fav_p{i}_{f}_ewm_{w}' for f in player_features]
                und_player_ewm_features = [f'und_p{i}_{f}_ewm_{w}' for f in player_features]
                for j in range(n_features):

                    fav_player_id = favorite_players.iloc[i]['player_id']
                    und_player_id = underdog_players.iloc[i]['player_id']

                    fav_player_df = player_dict[fav_player_id]
                    und_player_df = player_dict[und_player_id]

                    fav_feature = fav_player_ewm_features[j]
                    und_feature = und_player_ewm_features[j]
                    d[fav_feature].append(fav_player_df[fav_player_df['match_id'] == match_id][ewm_features[j]].values[0])
                    d[und_feature].append(und_player_df[und_player_df['match_id'] == match_id][ewm_features[j]].values[0])
                    
    df = pd.DataFrame(d)
    new_df = pd.concat([match_df.reset_index(drop=True),
                      df.reset_index(drop=True)],axis=1)
    return new_df

In [ ]:
def parallelize_dataframe(df, func, player_dict):
    num_cores = multiprocessing.cpu_count()-2  #leave one free to not freeze machine
    num_partitions = num_cores #number of partitions to split dataframe
    df_split = np.array_split(df, num_partitions)
    pool = multiprocessing.Pool(num_cores)
    list_df = pool.map(partial(func, player_dict = player_dict, pp_df = pp_df), df_split)
    df = pd.concat(list_df)
    pool.close()
    pool.join()
    return df

parallelize_dataframe(match_df.tail(24), insert_player_features, player_dict)

## Team Factors

## Team Fatigue(Away game streak) and Win Streak

In [ ]:
def

## FG%, 3P%, FT%, ORB, DRB, TRB, TOV, AST, STL, BLK, DRTG, ORTG, EFG

In [ ]:
d = defaultdict(list)
for idx, row in tqdm(match_df.iterrows(), total=match_df.shape[0]):
    favorite_players = get_active_players(row['match_id'], row['favorite_id'], pp_df)
    underdog_players = get_active_players(row['match_id'], row['underdog_id'], pp_df)
    d['favorite_bpm'].append(favorite_players['bpm'].sum())
    d['underdog_bpm'].append(underdog_players['bpm'].sum())
    d['favorite_fga'].append(favorite_players['fga'].sum())
    d['underdog_fga'].append(underdog_players['fga'].sum())
    d['favorite_fg'].append(favorite_players['fg'].sum())
    d['underdog_fg'].append(underdog_players['fg'].sum())
    d['favorite_fg_pct'].append(favorite_players['fg_pct'].mean())
    d['underdog_fg_pct'].append(underdog_players['fg_pct'].mean())
    
    d['favorite_3p'].append(favorite_players['threep'].sum())
    d['underdog_3p'].append(underdog_players['threep'].sum())
    d['favorite_3pa'].append(favorite_players['threepa'].sum())
    d['underdog_3pa'].append(underdog_players['threepa'].sum())
    d['favorite_3p_pct'].append(favorite_players['threep_pct'].mean())
    d['underdog_3p_pct'].append(underdog_players['threep_pct'].mean())
    
    d['favorite_ft'].append(favorite_players['ft'].sum())
    d['underdog_ft'].append(underdog_players['ft'].sum())
    d['favorite_fta'].append(favorite_players['fta'].sum())
    d['underdog_fta'].append(underdog_players['fta'].sum())
    d['favorite_ft_pct'].append(favorite_players['ft_pct'].mean())
    d['underdog_ft_pct'].append(underdog_players['ft_pct'].mean())
    
    d['favorite_orb'].append(favorite_players['orb'].sum())
    d['underdog_orb'].append(underdog_players['orb'].sum())
    d['favorite_orb_pct'].append(favorite_players['orb_pct'].mean())
    d['underdog_orb_pct'].append(underdog_players['orb_pct'].mean())
    
    d['favorite_drb'].append(favorite_players['drb'].sum())
    d['underdog_drb'].append(underdog_players['drb'].sum())
    d['favorite_drb_pct'].append(favorite_players['drb_pct'].mean())
    d['underdog_drb_pct'].append(underdog_players['drb_pct'].mean())
    
    d['favorite_trb'].append(favorite_players['trb'].sum())
    d['underdog_trb'].append(underdog_players['trb'].sum())
    d['favorite_trb_pct'].append(favorite_players['trb_pct'].mean())
    d['underdog_trb_pct'].append(underdog_players['trb_pct'].mean())
    
    d['favorite_tov'].append(favorite_players['tov'].sum())
    d['underdog_tov'].append(underdog_players['tov'].sum())
    d['favorite_tov_pct'].append(favorite_players['tov_pct'].mean())
    d['underdog_tov_pct'].append(underdog_players['tov_pct'].mean())
    
    d['favorite_ast'].append(favorite_players['ast'].sum())
    d['underdog_ast'].append(underdog_players['ast'].sum())
    d['favorite_ast_pct'].append(favorite_players['ast_pct'].mean())
    d['underdog_ast_pct'].append(underdog_players['ast_pct'].mean())
    
    d['favorite_stl'].append(favorite_players['stl'].sum())
    d['underdog_stl'].append(underdog_players['stl'].sum())
    d['favorite_stl_pct'].append(favorite_players['stl_pct'].mean())
    d['underdog_stl_pct'].append(underdog_players['stl_pct'].mean())
    
    d['favorite_blk'].append(favorite_players['blk'].sum())
    d['underdog_blk'].append(underdog_players['blk'].sum())
    d['favorite_blk_pct'].append(favorite_players['blk_pct'].mean())
    d['underdog_blk_pct'].append(underdog_players['blk_pct'].mean())
    
    d['favorite_drtg'].append(favorite_players['drtg'].mean())
    d['underdog_drtg'].append(underdog_players['drtg'].mean())
    
    d['favorite_ortg'].append(favorite_players['ortg'].mean())
    d['underdog_ortg'].append(underdog_players['ortg'].mean())
    
    d['favorite_efg_pct'].append(favorite_players['efg_pct'].mean())
    d['underdog_efg_pct'].append(underdog_players['efg_pct'].mean())
        
    d['sp'].append(favorite_players['sp'].sum())

In [ ]:
df = pd.DataFrame(d)
match_df = pd.concat([match_df.reset_index(drop=True),
                      df.reset_index(drop=True)],axis=1)

In [ ]:
match_df[['favorite_fta', 'favorite_ft']]

## Possessions and Pace

In [ ]:
match_df['favorite_possessions'] = \
    0.5 * ((match_df['favorite_fga'] + 0.4*match_df['favorite_fta'] - \
            1.07*(match_df['favorite_orb']/(match_df['favorite_orb'] + match_df['underdog_drb'])) * \
            (match_df['favorite_fga']-match_df['favorite_fg']) + match_df['favorite_tov']) + \
           (match_df['underdog_fga'] + 0.4*match_df['underdog_fta'] -\
           1.07 * (match_df['underdog_orb']/(match_df['underdog_orb'] + match_df['favorite_drb'])) * \
           (match_df['underdog_fga']-match_df['underdog_fg']) + match_df['underdog_tov']))

match_df['underdog_possessions'] = \
    0.5 * ((match_df['underdog_fga'] + 0.4*match_df['underdog_fta'] - \
            1.07*(match_df['underdog_orb']/(match_df['underdog_orb'] + match_df['favorite_drb'])) * \
            (match_df['underdog_fga']-match_df['underdog_fg']) + match_df['underdog_tov']) + \
           (match_df['favorite_fga'] + 0.4*match_df['favorite_fta'] -\
           1.07 * (match_df['favorite_orb']/(match_df['favorite_orb'] + match_df['underdog_drb'])) * \
           (match_df['favorite_fga']-match_df['favorite_fg']) + match_df['favorite_tov']))

match_df['favorite_pace'] = 48 * ((match_df['favorite_possessions'] + match_df['underdog_possessions']) / \
                          (2*(match_df['sp']/(60*5))))
match_df['underdog_pace'] = 48 * ((match_df['favorite_possessions'] + match_df['underdog_possessions']) / \
                          (2*(match_df['sp']/(60*5))))

In [ ]:
match_df.pace

## EMA Team stats

In [ ]:
def ema(current, prev_ema, window_size, smoothing=2.0):
    k = smoothing / (1 + window_size)
    return current * k + prev_ema * (1-k)

In [ ]:
def get_prev_team_sum(team_id, home_col, prev_matches):
    away_col = home_col.replace('home', 'away')
    prev_matches['res'] =  prev_matches.apply(lambda x:
                             x[home_col] if x['home_id'] == team_id
                             else x[away_col], axis=1)
    return prev_matches['res'].sum()

In [ ]:
smoothing = 2
window_sizes = [3,4,5,6,7]

d = defaultdict(list)

for w in tqdm(range(len(window_sizes))):
    window_size = window_sizes[w]

    ema_favorite_features = \
        [(f'prev_favorite_pts_ema{window_size}',       f'post_favorite_pts_ema{window_size}'),
        (f'prev_favorite_bpm_ema{window_size}',       f'post_favorite_bpm_ema{window_size}'),
        (f'prev_favorite_fg_ema{window_size}',        f'post_favorite_fg_ema{window_size}'),
        (f'prev_favorite_fg_pct_ema{window_size}',    f'post_favorite_fg_pct_ema{window_size}'),
        (f'prev_favorite_3p_ema{window_size}',        f'post_favorite_3p_ema{window_size}'),
        (f'prev_favorite_3p_pct_ema{window_size}',    f'post_favorite_3p_pct_ema{window_size}'),
        (f'prev_favorite_ft_ema{window_size}',        f'post_favorite_ft_ema{window_size}'),
        (f'prev_favorite_ft_pct_ema{window_size}',    f'post_favorite_ft_pct_ema{window_size}'),
        (f'prev_favorite_orb_ema{window_size}',       f'post_favorite_orb_ema{window_size}'),
        (f'prev_favorite_orb_pct_ema{window_size}',   f'post_favorite_orb_pct_ema{window_size}'),
        (f'prev_favorite_drb_ema{window_size}',       f'post_favorite_drb_ema{window_size}'),
        (f'prev_favorite_drb_pct_ema{window_size}',   f'post_favorite_drb_pct_ema{window_size}'),
        (f'prev_favorite_trb_ema{window_size}',       f'post_favorite_trb_ema{window_size}'),
        (f'prev_favorite_trb_pct_ema{window_size}',   f'post_favorite_trb_pct_ema{window_size}'),
        (f'prev_favorite_tov_ema{window_size}',       f'post_favorite_tov_ema{window_size}'),
        (f'prev_favorite_tov_pct_ema{window_size}',   f'post_favorite_tov_pct_ema{window_size}'),
        (f'prev_favorite_ast_ema{window_size}',       f'post_favorite_ast_ema{window_size}'),
        (f'prev_favorite_ast_pct_ema{window_size}',   f'post_favorite_ast_pct_ema{window_size}'),
        (f'prev_favorite_stl_ema{window_size}',       f'post_favorite_stl_ema{window_size}'),
        (f'prev_favorite_stl_pct_ema{window_size}',   f'post_favorite_stl_pct_ema{window_size}'),
        (f'prev_favorite_blk_ema{window_size}',       f'post_favorite_blk_ema{window_size}'),
        (f'prev_favorite_blk_pct_ema{window_size}',   f'post_favorite_blk_pct_ema{window_size}'),
        (f'prev_favorite_drtg_ema{window_size}',      f'post_favorite_drtg_ema{window_size}'),
        (f'prev_favorite_ortg_ema{window_size}',      f'post_favorite_ortg_ema{window_size}'),
        (f'prev_favorite_efg_pct_ema{window_size}',   f'post_favorite_efg_pct_ema{window_size}'),
        (f'prev_favorite_pace_ema{window_size}',      f'post_favorite_pace_ema{window_size}')]

    ema_underdog_features = [(f[0].replace('favorite','underdog'), \
        f[1].replace('favorite','underdog')) for f in ema_favorite_features]
    ema_underdog_features = [(f[0].replace('favorite','underdog'), f[1].replace('favorite','underdog')) for f in ema_favorite_features]
    sma_favorite_features = [(f[0].replace('ema','sma'), f[1].replace('ema','sma')) for f in ema_favorite_features]
    sma_underdog_features = [(f[0].replace('favorite','underdog'), f[1].replace('favorite','underdog')) for f in sma_favorite_features]

    for idx, row in tqdm(match_df.iterrows(), total=match_df.shape[0]):
        prev_favorite_matches = get_prev_matches(row['date'], \
            row['favorite_id'], match_df).tail(window_size)
        prev_underdog_matches = get_prev_matches(row['date'], \
            row['underdog_id'], match_df).tail(window_size)
        len_prev_favorite_matches = len(prev_favorite_matches)
        len_prev_underdog_matches = len(prev_underdog_matches)
        for i in range(len(ema_favorite_features)):
            favorite_feature = re.findall('favorite_.*_ema', ema_favorite_features[i][0])[0].replace('_ema', '')
            underdog_feature = favorite_feature.replace('favorite', 'underdog') 

            if not prev_favorite_matches.empty:
                prev_match = prev_favorite_matches.iloc[-1:]
                d[sma_favorite_features[i][0]].append(get_prev_team_sum(row['favorite_id'], \
                    favorite_feature, prev_favorite_matches)/len_prev_favorite_matches)

                if len_prev_favorite_matches < window_size:
                    d[ema_favorite_features[i][0]].append(d[sma_favorite_features[i][0]][-1]) 
                    d[ema_favorite_features[i][1]].append((d[sma_favorite_features[i][0][-1]] \
                        * len_prev_favorite_matches + row[favorite_feature])/(len_prev_favorite_matches + 1))
                else:
                    d[ema_favorite_features[i][0]].append(prev_match[ema_favorite_features[i][1]] \
                                        if prev_match['favorite_id'].values[0] == row['favorite_id'] \
                                        else prev_match[ema_underdog_features[i][1]])

                    d[ema_favorite_features[i][1]].append(ema(row[favorite_feature],  
                                        d[ema_favorite_features[i][0]][-1], 
                                        window_size))
            else:
                d[ema_favorite_features[i][1]].append(row[favorite_feature])


            if not prev_underdog_matches.empty:
                prev_match = prev_underdog_matches.iloc[-1:]
                d[sma_underdog_features[i][0]].append(get_prev_team_sum(row['underdog_id'], \
                    favorite_feature, prev_underdog_matches)/len_prev_underdog_matches)

                if len_prev_underdog_matches < window_size:
                    d[ema_underdog_features[i][0]].append(d[sma_underdog_features[i][0]][-1]) 
                    d[ema_underdog_features[i][1]].append((d[sma_underdog_features[i][0]][-1] \
                        * len_prev_underdog_matches + row[underdog_feature])/(len_prev_underdog_matches + 1))
                else:
                    d[ema_underdog_features[i][0]].append(prev_match[ema_favorite_features[i][1]] \
                                if prev_match['favorite_id'].values[0] == row['favorite_id'] \
                                else prev_match[ema_underdog_features[i][1]])

                    d[ema_underdog_features[i][1]].append(ema(row[underdog_feature],  
                                            d[ema_underdog_features[i][0]][-1], 
                                            window_size))
            else:
                d[ema_underdog_features[i][1]].append(row[underdog_feature])

In [ ]:
df = pd.DataFrame(d)
match_df = pd.concat([match_df.reset_index(drop=True),
                      df.reset_index(drop=True)],axis=1)